{% extends "html/base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/students.css')}}">
{% endblock %}

{% block authorization %}
<div class="authorization">
    <a href="/teacher_profile">{{user}}</a>
    <span>|</span>
    <a href="/logout">Выход</a>
</div>
{% endblock %}

{% block logo %} {{logo[0].title}} | {{logo[1].title}} {% endblock %}

{% block content %}
<div class="students">
    <table class="table table-sm table-responsive table-bordered">
        <thead>
            <tr>
                <th scope="col">Ученик</th>    
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th>{{student.surname}} {{student.first_name}}</th>
                {% for mark in marks[student.id] %}
                <td contenteditable>
                    {{mark}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}