{% extends "html/base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/teachers_school.css')}}">
{% endblock %}

{% block authorization %}
<div class="authorization">
    <a href="/teacher_profile">{{user}}</a>
    <span>|</span>
    <a href="/logout">Выход</a>
</div>
{% endblock %}

{% block logo %} {{logo.title}} {% endblock %}

{% block content %}
<div class="classes">
    <h1>Классы</h1>
    <div class="column">
    {% for class in classes %}
        <a href="/teachers_school/{{class[0].id}}/{{class[1].id}}" class="class">
            {{class[0].title}} | {{class[1].title}}
        </a>
    {% endfor %}
    </div>
</div>
{% endblock %}
