.login_buttons a{
    text-decoration: none;
    color: rgba(0,0,0,.9);
}
.sign_in, .sign_up {
    transition:  0.2s ease;
}

.sign_in:hover, .sign_up:hover {
    color: grey;
}
.container {
    height: 100vh;
}
.footer {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}