form {
    margin-top: 10px;
}
.form-control {
    width: 30vw;
}
.message {
    color: red;
}
.d2 h1 {text-align: center;}
.d2 h1:before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  right: 0;
  height: 6px;
  border-top: 2px solid #0754E9;
  border-bottom: 2px solid #0754E9;
  z-index: -1;
}
.d2 span {
  background: white;
  padding: 0 20px;
}

h1 {
  font-size: 40px;
  letter-spacing: 1px;
  max-width: 1500px;
  width: 100%;
  position: relative;
  display: inline-block;
  color: #0754E9;
  margin-bottom: 50px;
}