.students {
    max-width: 100%;
}
#student th {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    background-color: white;
    z-index: 100;
}
.container {
    justify-content: start;
}