.classes {
    max-width: 100vw;
}
datalist {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
/* .classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
.classes option {
    height: 100px;
    width: 200px;
}