.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 200px;
    grid-row-gap: 2em;
}

.rounded {
counter-reset: li;
list-style: none;
font: 14px "Trebuchet MS", "Lucida Sans";
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
position: relative;
display: block;
padding: .4em .4em .4em .8em;
margin: .5em 0 .5em 2.5em;
background: #9C9CFF;
color: #000;
text-decoration: none;
transition: all .3s ease-out;
}
.rounded a:hover {background: #9C9CFF;}
.rounded a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -2.5em;
top: 50%;
margin-top: -1em;
background: #7777FF;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
font-weight: bold;
}
.rounded a:after {
position: absolute;
content: "";
border: .5em solid transparent;
left: -1em;
top: 50%;
margin-top: -.5em;
transition: all .3s ease-out;
}
.rounded a:hover:after {
left: -.5em;
border-left-color: #9C9CFF;
}

.d2 h1 {text-align: center;}
.d2 h1:before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  right: 0;
  height: 6px;
  border-top: 2px solid #9C9CFF;
  border-bottom: 2px solid #9C9CFF;
  z-index: -1;
}
.d2 span {
  background: white;
  padding: 0 20px;
}

h1 {
  font-size: 40px;
  letter-spacing: 1px;
  max-width: 1000px;
  width: 100%;
  position: relative;
  display: inline-block;
  color: #9C9CFF;
  margin-bottom: 50px;
}